/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {

 }

 /* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
    .container {
        width: 750px;
    }
 }

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
    .container {
        width: 970px;
    }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
    .container {
    width: 1170px;
}
 }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }